* {
    margin:0; padding:0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/img/image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.SearchBar{
    // margin: 50px;
    // top: 5px;   
    display: flex;
    padding-top: 75px;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}
.search{
    padding: 1.4%;
    width: 45%;
    border-radius: 10px;
    font-size: large;
}
.ZeviName{
    
    display: flex;
    justify-content: end;
}