
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media(min-width: 2000px){
body {
  box-sizing: border-box;
  background-image: url("./assets/img/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  // overflow: hidden;
}
}
@media(min-width: 700px)
{body
  {
    background-image: url("./assets/img/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    // overflow: hidden;
  }
  }
  @media(min-width: 200px)
  {body
    {
      background-image: url("./assets/img/image.png");
      background-repeat: no-repeat;
      background-size: cover;
      
      // overflow: hidden;
    }
    }

.SearchBar {
  display: flex;
  padding-top: 26px;
  flex-direction: column;
  align-items: center;
  // width: 100vw;
  // height: 100vh;
}
.search {
  padding: 1.4%;
  width: 30%;
  border-color: white;
  border-radius: 10px 0px 0px 10px;
  font-size: large;
}
.ZeviName {
  height: 20%;
  width: 100vw;
  display: flex;
  justify-content: end;
}

.Zevi-container{
  height: 100px;
  width: 100px;
}
.OverlayFather {
  height: 65%;
  width: 60%;
  background-color: white;
  border-color: black;
  margin: 10px;
  //Added shadow sizing
  -webkit-box-shadow: -1px 4px 47px 11px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -1px 4px 47px 11px rgba(0, 0, 0, 0.45);
  box-shadow: -1px 4px 47px 11px rgba(0, 0, 0, 0.45);
}

.trending-products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin-top: 2%;
}
.ProductName {
  width: 100px;
  height: fit-content;
  font-size: small;
}
.LatestTrendsTag {
  padding-top: 21px;
  margin-left: 39px;
  font-family: ariel, sans-serif;
  font-size: larger;
  font-weight: bold;
}
.PopularQueries {
  height: 151px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 40px;
}
.TrendingQueriesStyle {
  font-size: small;
  font-weight: 100;
}
.PopularSuggestionTag {
  padding-left: 38px;
  margin-top: 2%;
  font-size: larger;
}
.ButtonAndSearchBar{
  display: flex;
  flex-direction: row;
}
.search{
  border: none;
  width: 100%;
  background: white;
}
.ButtonClickMe{
  border: none;
  border-radius: 0px 20px 20px 0px;
  background: white;
}
.SearchBoxContainer{
  margin-top: 4%;
  width: 100%;
  height: 450px;
  background-color: white;
}
.SearchBoxDiv{
  // width: 100px;
  // height: 100px;
}
.WhiteBackgroundForQuery{
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: scroll;
}
.FilterFunction{
  border-color: black;
  border-width: 1px;
  width: 30%;
  height: 70%;
  border-width: 1px;

}
.ImagesToRender{
  border-color: black;
  width: 70%;
  height: 100%;
  border-width: 1px;
}
.ListContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Rating{
  margin-top : 2%;
  margin-left: 2%;
}
.ImageContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.ProductImages{
  border-radius: 2px;
  border-width: 1px;
  border-color: black;
}
.HeartContainer{
  position: relative;
  top: -85%;
  right: -71%;
}